@model IEnumerable<CakeBoutique.Models.Product>

@{
    Layout = null;

}


<div class="text-center">
    @{if (ViewBag.error == "error")
        {
            <div  id="opsNotFound">
            <h2 class="font-italic text-secondary">Not Found Result for @ViewBag.searchedInput,</h2>
            <h2 id="opsNotFound" class="font-italic text-secondary">but you can enjoy our popular products</h2>


            </div>
        }
        else if(ViewBag.error =="")
        {
            <h2 id="displaySearchName" class="font-italic text-secondary">Displaying Result For: @ViewBag.searchedInput</h2>
        }
    }
</div>
<div class="row row-cols-1 row-cols-md-4 g-4 categoryDiv justify-content-center">


    @{
        int i = 0;
        @foreach (var product in Model)
        {
            <a onclick="location.href='@Url.Action("ProductPage", "Products", new { id = product.Id })'">
                <div class="col">
                    <div class="card h-75 w-250 my-3 cardBorder categoryButton">
                        <div class="containerImg">
                            @if (ViewBag.images[i]!=null && ViewBag.images[i].image!=null)
                            {
                                string img =Convert.ToBase64String(ViewBag.images[i].image);
                                <img src="data:image/png;base64,@img" class="card-img-top imgCategory" alt="..." />
                            }
                            <div class="card-body whiteSmoke cardTextHeight ">
                                <h5 class="card-title">@product.ProductName</h5>
                                <div class="font-italic font-weight-bold">
                                    Price: @product.Price$
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            i++;
        }
    }
</div>
