@model Tuple<Product, List<string>>
@{
    if (Context.User != null && Context.User.Claims != null &&
       Context.User.Claims.Count() > 0 && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Editor")))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientLayout";
    }
    <link href="/css/productPage.css" rel="stylesheet" type="text/css" />
}
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid my-3 ">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">

                <div class="row row-cols-1 row-cols-md-4 g-4 productpageBox">
                    <div class="product col col-md-5 service-image-left">
                        <div>
                            <img id="mainImage" src="@Model.Item2[0]" />
                        </div>
                        <div class="row my-3">
                            @{foreach (var path in Model.Item2)
                                {
                                    <div class="col-sm-3">
                                        <button onclick='imageToMain("@path")'>
                                            <img class="imagePeview" src=@path />
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-7 col">
                        <div class="product-title productname">@Model.Item1.ProductName</div>
                        <textarea readonly class="text-area">@Model.Item1.Description</textarea>
                        @*<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>*@
                        <hr>
                        @{ 
                            if(Model.Item1.NameOption == 1)
                                {
                                <label class="font-weight-bold">Enter a name: </label>
                                   <input placeholder="maximum 10 letters" maxlength="10" id="nameOnProduct" type="text" class="form-control " />
                                }
                            else if(Model.Item1.NameOption == 2)
                                {
                                <label class="font-weight-bold">Enter a letter: </label>
                                <input type="text" id="nameOnProduct" placeholder="one letter" class="form-control"  maxlength="1"/>
                                }
                            
                        }
                        <div class="align-text-bottom py-3">
                            <div class="font-italic font-weight-bold product-price">Price: @Model.Item1.Price &#8362</div>
                            @{
                                if (Model.Item1.StoreQuantity == 0)
                                {
                                    <img src="~/lib/icons/outofstock.jpg" width="60" />
                                    <input hidden value="0" id="outofstock" />
                                }
                                else
                                {
                                    <input hidden value="1" id="outofstock" />
                                    <div class="product-stock text-success font-weight-bold">In stock</div>
                                }
                            }
                            <hr>
                            <div class="btn-group cart">
                                <button id="addtocart" type="button" class="btn btn-success">
                                    Add to cart
                                </button>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/productPage.js"></script>


