@model jewelry.Models.Product
@{
    if (Context.User != null && Context.User.Claims != null &&
       Context.User.Claims.Count() > 0 && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Editor")))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientLayout";
    }
    <link href="/css/productPage.css" rel="stylesheet" type="text/css" />
    <link href="~/css/cart.css" rel="stylesheet" type="text/css" />
}
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid my-3 ">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container flex-grow-1">
                <div class="row row-cols-1 row-cols-md-4 g-4 productpageBox">
                    @*Data for the from*@

                    <div class="product col col-md-5 service-image-left">
                        <div>
                            @{
                                string img = Convert.ToBase64String(Model.Images[0].image);
                                if (img != null)
                                {
                                    <img id="mainImage" src="data:image/png;base64,@img" />
                                }
                            }


                        </div>
                        <div class="row my-3">
                            @{foreach (var image in Model.Images)
                                {
                                    img = Convert.ToBase64String(image.image);
                                    <div class="col-sm-3">
                                        @if (img != null)
                                        {
                                        <button onclick='imageToMain("data:image/png;base64,@img")'>
                                            <img class="imagePeview" src="data:image/png;base64,@img" />
                                        </button>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-7 col">
                        <div class="product-title productname">@Model.ProductName</div>
                        <textarea readonly class="text-area">@Model.Description</textarea>
                        @*<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>*@
                        <hr>
                        @{
                            if (Model.NameOption == 1)
                            {
                                <label id="enteraName" class="font-weight-bold">Enter a name: </label>
                                <input placeholder="maximum 10 letters" name="input" maxlength="10" id="nameOnProduct" type="text" class="form-control " />
                            }
                            else if (Model.NameOption == 2)
                            {
                                <label id="enteraName" class="font-weight-bold">Enter a letter: </label>
                                <input type="text" name="input" id="nameOnProduct" placeholder="one letter" class="form-control" maxlength="1" />
                            }

                        }
                        <div class="align-text-bottom py-3">
                            <div class="font-italic font-weight-bold product-price">Price: @Model.Price $</div>
                            @{
                                if (Model.StoreQuantity <= 0)
                                {
                                    <img src="~/lib/icons/outofstock.jpg" width="60" />
                                    <input hidden value="0" id="outofstock" />
                                }
                                else
                                {
                                    <input hidden value="1" id="outofstock" />
                                    <div class="product-stock text-success font-weight-bold">In stock</div>
                                }
                            }
                            <hr>
                            <form id="addForm">
                                <input hidden id="url" value="@Context.Request.Path" />
                                <input hidden id="productId" value="@Model.Id" />
                                <input hidden id="productName" value="@Model.ProductName" />
                                <div class="row">
                                    <label class="font-italic">Quantity</label>
                                    <div class="col-2">
                                    <input id="quantity" type="number" class="form-control" value="1" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="btn-group col-md-3">
                                        <button id="addtocart" type="submit" class="btn btn-success my-2">
                                            Add to cart
                                        </button>
                                    </div>
                                    <div class="col-md-7">
                                        <img class="shoppingCartIcon" id="shoppingcart" width="100" src="~/lib/icons/shopping-cart.png" />
                                        <span id="error" class="alert-danger font-italic">Ooopss can't add this product to your cart....</span>
                                        <span id="AddedSuccessfully" class="text-success font-weight-bold font-italic">Added successfully to your cart</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/cart/AddToCart.js"></script>
