@model IEnumerable<jewelry.Models.Product>

@{
    Layout = null;
}

<div class="text-center">
    <h2 class="font-italic text-secondary">@ViewBag.error</h2>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4 categoryDiv justify-content-center">

    
    @{
        int i = 0;
        @foreach (var product in Model)
        {
            <a onclick="location.href='@Url.Action("ProductPage", "Products", new { id = product.Id })'">
                <div class="col">
                    <div class="card h-75 w-250 my-3 cardBorder categoryButton">
                        <div class="containerImg">
                            <img src="@ViewBag.pathes[i]" class="card-img-top imgCategory" alt="..." />
                            <div class="card-body whiteSmoke cardTextHeight ">
                                <h5 class="card-title">@product.ProductName</h5>
                                <div class="font-italic font-weight-bold">
                                    Price: @product.Price$
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            i++;
        }
    }
</div>
