@model Tuple<List<ProductCart>, List<double>>

<link href="~/css/cart.css" type="text/css" rel="stylesheet">

<div id ="modalScroller" class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header mainFont font-italic justify-content-center">
            <h2 class="modal-title font-italic" id="exampleModalScrollableTitle">@Context.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value's Cart</h2>
        </div>
        <div class="modal-body">
            @{
                for (int i = 0; i < Model.Item1.Count(); i++)
                {
                    <div class="productInCart">
                        <div class="row">
                            <div class="col-md-1">
                                <a onclick="removeFromCart(@Model.Item1[i].Id)" id="removeFromCart" class="transparent-button">
                                    <img width="30" src="~/lib/icons/icons8-remove.svg" />
                                </a>
                                <p class="text-center font-italic font-weight-bold">@Model.Item1[i].Quantity</p>
                            </div>
                            <div class="col-md-2">
                                @*product image*@
                                <img class="cartProductImage" src="@ViewBag.images[i]" />
                            </div>

                            <div class="col-md-2">
                                @*price*@
                                <p class="font-italic font-weight-bold">price: @Model.Item2[i]$</p>
                                <p class="font-italic font-weight-bold">Total: @{var a = Model.Item2[i] * Model.Item1[i].Quantity;}@a$</p>
                            </div>

                            <div class="col-md-3">
                                @*custom name*@
                                @if (Model.Item1[i].CustumName != "")
                                {
                                    <p class="customName font-italic font-weight-bold ">Custom Name: @Model.Item1[i].CustumName</p>
                                }
                            </div>

                            <div class="col-md-4">
                                @*product name*@
                                <p class="font-weight-bold prodcutNameCart">@Model.Item1[i].ProductName</p>
                            </div>
                        </div>

                    </div>
                }
            }
        </div>
        <div class="modal-footer">
            <p1 class="font-italic">Total Price: @ViewData["totalPrice"]$ </p1>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue shopping</button>
            <button onclick='checkout(@Model.Item1.Count(),@Context.User.Claims.FirstOrDefault(c => c.Type == "cartId")?.Value)' type="button" class="btn btn-primary">Checkout</button>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="~/js/cart/MyCart.js"></script>