@model Tuple<List<ProductCart>, List<double>>

<div id="modalScroller" class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header mainFont font-italic justify-content-center">
            <h2 class="modal-title font-italic" id="exampleModalScrollableTitle">@Context.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value's Cart</h2>
        </div>
        <div class="modal-body">
            @{
                for (int i = 0; i < Model.Item1.Count(); i++)
                {
                    <div class="productInCart">
                        <div id="@Model.Item1[i].Id" class="row">
                            <div class="col-md-2">
                                <div class="quantity">
                                    <div class="col">
                                        <button id="minus.@Model.Item1[i].Id" onclick="minus(@Model.Item1[i].Id)" value="@Model.Item1[i].Id" class="transparent-button font-weight-bold minus">-</button>
                                        <input id="input.@Model.Item1[i].Id" onchange="changeQuantity(@Model.Item1[i].Id)" class="inputQuantity text-center disabled-nocolor font-italic font-weight-bold" type="number" value="@Model.Item1[i].Quantity" />
                                        <button id="plus.@Model.Item1[i].Id" onclick="plus(@Model.Item1[i].Id)" value="@Model.Item1[i].Id" class="transparent-button font-weight-bold minus">+</button>
                                    </div>
                                </div>
                                @********************88*@
                                @*<a onclick="removeFromCart(@Model.Item1[i].Id)" id="removeFromCart" class="transparent-button">
                                        <img width="30" src="~/lib/icons/icons8-remove.svg" />
                                    </a>*@
                            </div>
                            <div class="col-md-2">
                                @*product image*@
                                @if (ViewBag.images[i] != null && ViewBag.images[i].image != null)
                                {
                                    string img = Convert.ToBase64String(ViewBag.images[i].image);
                                    <img class="cartProductImage" src="data:image/png;base64,@img" />
                                }
                            </div>

                            <div class="col-md-1">
                                @*price*@
                                <span class="font-italic font-weight-bold">
                                    Price:
                                    <span id="price.@Model.Item1[i].Id" class="font-italic font-weight-bold">@Model.Item2[i]</span>
                                </span>
                                <span class="font-italic font-weight-bold">
                                    Total:
                                    <span id="totalproductprice.@Model.Item1[i].Id" class="font-italic font-weight-bold">@{var a = Model.Item2[i] * Model.Item1[i].Quantity;}@a</span>
                                </span>
                            </div>

                            <div class="col-md-3">
                                @*custom name*@
                                @if (Model.Item1[i].CustumName != null)
                                {
                                    <p class="customName font-italic font-weight-bold ">Custom Name: @Model.Item1[i].CustumName</p>
                                }
                            </div>

                            <div class="col-md-4">
                                @*product name*@
                                <p class="font-weight-bold prodcutNameCart">@Model.Item1[i].ProductName</p>
                            </div>
                        </div>

                    </div>
                }
            }
        </div>
        <div class="modal-footer">
            <span id="quantityError" class="alert-danger"></span>
            <p class="font-italic">
                Total Price:
                <p1 id="totalprice" class="font-italic"> @ViewData["totalPrice"]$ </p1>
            </p>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue shopping</button>
            <button onclick='checkout(@Model.Item1.Count(),@Context.User.Claims.FirstOrDefault(c => c.Type == "cartId")?.Value)' type="button" class="btn btn-primary">Checkout</button>
        </div>
    </div>
</div>
<link href="~/css/cart.css" type="text/css" rel="stylesheet">
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="~/js/cart/MyCart.js"></script>
<script src="~/js/cart/Order.js"></script>